/* Général*/
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding: 0;
}
/*Fin général*/

/*En-tête*/
.main-header{
    background-color: #333;
    color: #fff;
    height: 4.14em;
    padding: 0 1.5em;
}
.logo{
    display: inline-block;
    margin-top: 0.7em;
    font-size: 1.5em;
    font-weight: bolder;
}
.main-nav{
    float: right;
}
.nav-list{
    margin-top: 1.5em;
}
.nav-item{
    display: inline-block;
    margin-right: -7px;
}
.nav-link{
    font-weight: 600;
    padding: 1.5em 1.1em 1.28em 1.21em;
    letter-spacing: 1px;
}
.nav-link-active, .nav-link:hover{
    background-color: #444;
}

@media all and (max-width: 570px){
    .main-header{
        height: 8.15em;
        padding: 0;
    }
    .logo{
        text-align: center;
        width: 100%;
        margin-bottom: 1em;
    }
    .main-nav{
        float: none;
    }
    .nav-list{
        text-align: center;
        
    }
    .nav-link{
        padding: 0.7em 1em;
    }
}

/*Fin En-tête*/

/*Café Promotion*/
.cafe-highlight{
    background-image: url("../images/cafe1.jpg");
    background-size: cover;
    background-position: 75% 50%;
    height: 77vh;
    padding: 6em 0 0em 0;
    text-align: center;
    color: #fff;
}
.highlight-title{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0.5em;
}
.highlight-bar{
    width: 6em;
    height: 0.6em;
    background-color: black;
    margin: auto;
}
.highlight-description{
    margin: 1.5em 0;
}
.highlight-text{
    font-size: 1.2em;
    margin: 0.5em;
}
.highlight-link{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 0.8em 1.5em;
    display: inline-block;
    border-radius: 1.5em;
}
.highlight-link:hover{
    background-color: #000;
    color: #fff;
}

@media all and (max-width: 900px){
    .cafe-highlight{
        padding-top: 1em;
    }
    .highlight-description{
        margin: 1.3em 0;
    }
    .highlight-title{
        font-size: 35px;
        padding: 0.1em;
    }
    .highlight-text{
        font-size: 1em;
        margin: 0.3em;
    }
    .highlight-link{
        font-size: 0.9em;
    }
}

/*
@media all and (max-width: 700px){
    .cafe-highlight{
        height: 100vh;
    }
    .highlight-title{
        font-size: 40px;
    }
    .highlight-text{
        font-size: 1.2em;
    }
}*/
